        h1 {
            color: brown;
            font-size: 30px;
            font-family: 맑은고딕;
        }
        h2 {
            color: rgb(170, 70, 39);
            font-size: 22px;
        }
        p {
            font-size: 17px;
            font-family: 맑은고딕;
            color: rgb(0, 0, 0);
        }
        body {
            background-color: beige;
        }
        li {
            color: rgb(163, 66, 66);
            font-size: 20px;
            font-family: 맑은고딕;
        }